<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Encoder Integrated Station</title>
    <meta name="viewport" content="width=device-width,user-scalable=no,
    initial=1.0,maximum-scale-1.0,minimum-scale=1.0" />
    <link href="../static/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" />
</head>
<style>
    .lt-1{
        width: 900px;height: 656px;margin: 0 auto;border:1px solid #8181F7
    }
    .lt-1_1{
        width: 700px;height: 50px;margin: 0 auto;margin-top:8px;float: left;border:1px solid #000;margin-left: 15px;
    }
    .lt-1_2{
        width: 150px;height: 640px;margin: 0 auto;margin-top:8px;float: left;border:1px solid #000;margin-left: 15px;
    }
    .lt-1_3{
        width: 350px; float: left; position:absolute;top: 380px;left: 230px;
    }
    .lt-1_4{
        width: 350px;float: left; position:absolute;top: 380px;left: 550px
    }
    .lt-1_5{
        width: 700px;height: 300px; float: left; position:absolute;top: 80px;border:1px solid #000;margin-left:15px;
    }
    .btn-primary {
        color: #fff;
        background-color: #31b0d5;
        border-color: #2e6da4;
    }
</style>
<body>
<div class="lt-1">
    <div class="lt-1_1">
        <div style="float: left;margin-left: 2px;margin-top: 5px;"><img src="../static/img/sparktag.jpg"width="35px"height="35px"></div>
        <h3 style="float: left;margin-top: 12px;margin-left: 8px">Encoder Integrated Station</h3>
    </div>
    <div class="lt-1_2">
        <h5 style="margin-left: 15px;margin-top: 10px">接口设置</h5>
        <select class="form-control" style="margin-left: 15px;margin-top: 5px;width: 82%;" id="ComName">
        </select>
        <div class="btn-group" role="group" aria-label="..." style="margin-left: 15px;margin-top: 5px;width: 82%;">
            <button type="button" class="btn btn-default" style="width: 50%;">打开</button>
            <button type="button" class="btn btn-default" style="width: 50%;">关闭</button>
        </div>
        <h5 style="margin-left: 15px;margin-top: 5px">采集通道</h5>
        <div class="btn-group" data-toggle="buttons" id="radio">
            <label class="btn btn-primary" style="margin-left: 15px; width: 82%;">
                <input type="radio" name="options" id="options1" value="1">双通道采集
            </label>
            <label class="btn btn-primary"  style="margin-left: 15px;margin-top: 5px;width: 82%;">
                <input type="radio" name="options" id="options2" value="2">单通道采集
            </label>
        </div>
        <h5 style="margin-left: 15px;margin-top: 5px">采集通道</h5>
        <div class="btn-group" data-toggle="buttons" id="radio">
            <label class="btn btn-primary" style="margin-left: 15px;width: 82%;">
                <input type="radio" name="options" id="options3" value="3">连续采集
            </label>
            <label class="btn btn-primary"  style="margin-left: 15px;margin-top: 5px;width: 82%;">
                <input type="radio" name="options" id="options4" value="4">定次采集
            </label>
            <label style="width: 66%;margin-left: 15px;margin-top: 5px;width: 82%;">
                <input type="number"  class="form-control" aria-label="...">
            </label>
            <button type="button" style="width: 82%;margin-left: 15px;margin-top: 5px;" class="btn btn-default">打开连接</button>
            <button type="button" style="width: 82%;margin-left: 15px;margin-top: 5px;" class="btn btn-default">关闭连接</button>
            <button type="button" style="width: 82%;margin-left: 15px;margin-top: 5px;" class="btn btn-default">参数设置</button>
            <button type="button" style="width: 82%;margin-left: 15px;margin-top: 5px;" class="btn btn-default">查看数据</button>
            <button type="button" style="width: 82%;margin-left: 15px;margin-top: 5px;" class="btn btn-default">保存数据</button>
            <button type="button" style="width: 82%;margin-left: 15px;margin-top: 5px;" class="btn btn-default">开始采集</button>
            <button type="button" style="width: 82%;margin-left: 15px;margin-top: 5px;" class="btn btn-default">停止采集</button>
        </div>
    </div>
    <div class="lt-1_3"  id="c1">
        <div id="mountNode"></div>
    </div>
    <div class="lt-1_4" id="c2" >
        <div id="mountNode_2"></div>
    </div>
    <div class="lt-1_5">
        <div style="float: left;border:1px solid #000;width: 46%;height: 90%;margin-left: 15px;margin-top: 15px;">

        </div>
        <div style="float: right;border:1px solid #000;width: 46%;height: 90%;margin-right: 15px;margin-top: 15px;">

        </div>
    </div>

</div>


<script src="../static/jquery-1.11.3/jquery.js"></script>
<script src="../static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.g2-3.5.1/dist/g2.min.js"></script>
<script>
    // 图表数据初始化
    var data = [];var chart = new G2.Chart({
        container: 'mountNode',
        forceFit: true,
        width : 300, // 指定图表宽度
        height : 350 // 指定图表高度
    });chart.source(data, {time: {
            alias: '时间',
            tickCount: 10,
            nice: false
        }, temperature: {
            alias: '数据',
            min: 0,
            type:'linear'

        }, type: {
            type: 'cat'
        }});chart.line().position('time*temperature').color('type', ['#ff7f0e', '#2ca02c']).shape('smooth').size(2);chart.render();
    var data_2 = [];var chart_2 = new G2.Chart({
        container: 'mountNode_2',
        forceFit: true,
        width : 300, // 指定图表宽度
        height : 350 // 指定图表高度
    });chart_2.source(data_2, {time: {
            alias: '时间',
            tickCount: 10,
            nice: false
        }, temperature: {
            alias: '数据',
            min: 0,
            type:'linear'

        }, type: {
            type: 'cat'
        }});chart_2.line().position('time*temperature').color('type', ['#DC143C','#4169E1']).shape('smooth').size(2);chart_2.render();

        openSocket()

        function openSocket() {
        /*创建socket连接*/
        var socket = new WebSocket("ws://" + window.location.host + "/port_number");
        socket.onopen = function () {
            console.log('WebSocket open');//成功连接上Websocket
        };
        var data = [];
        socket.onmessage = function (e) {
            console.log(e.data)
            var str = excludeSpecial(e.data);
            data = str.split(',');
            if (data.length>0) {
                for (var i = 0; i < data.length; i++) {
                    $("#ComName").append("<option value=" + data[i] + ">" + data[i] + "</option>");
                }
            }
        };
        socket.onclose = function () {
            // 关闭 websocket
            if (data.length>0) {
                console.log("连接已关闭...");
            }
        };
    }


    //去掉字符串中的特殊字符
    var excludeSpecial = function(s) {
        // 去掉转义字符
        s = s.replace(/[\'\"\\\/\b\f\n\r\t]/g, '');
        // 去掉特殊字符
        s = s.replace(/[\@\#\$\%\^\&\*\{\}\:\"\L\<\>\?]/);
        // 去掉中括号
        s=s.replace(/\[|]/g,'');
        return s;
    };

</script>
</body>
</html>